body {
    font-family: Helvetica;
}

p.intro {
    width: 30%;
    /*padding*/
    padding: 10%;
    padding-left: 20%;
    padding: auto;
    margin: auto;
    margin: 20px;
    margin-bottom: 80px;
    line-height: 40px;
    text-align: center;
    border-top-left-radius: 3em;
    border-bottom-right-radius: 3em;
    border-color: white;
    border-width: medium;
    border-style: dotted;
    background-color: #a7cece;
    /* 背景圖案*/
    background-image: url(images/american.png);
    background-position: top left;
    background-repeat: repeat-y;
}
